{% extends 'acetelapp/login_base.html' %}

{% load static %}

{% block content %}
<div class="browse section">
    <h2>My Courses</h2>
    
    <div class="browse-courses">
        {% for registered_course in registered_courses %}
        <a href="#" class="card-box">
            <div class="card">
                <img src ="{{ registered_course.course.image.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-heading">{{registered_course.course.title}}</h5>
                    <p class="card-text">{{registered_course.course.description}}</p>
                    <p style="font-size: 0.9rem;">
                        <i class="far fa-clock" style="color:#055b38"></i> &nbsp;{{registered_course.course.date}} <i
                            class="fas fa-user-friends" style="color:#055b38"></i> 0 <span
                            style="float: right; font-size: 1.3rem; color:#055b38;">&#8358;{{registered_course.amount}}</span>
                    </p>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
   
</div>


{% endblock %}